@model IEnumerable<WebApplication1.Models.Subscription>

@{
    ViewBag.Title = "Subcr";
}

<h2>NewsPaper List</h2>

@{ WebGrid wbgrid = new WebGrid(source: Model);

}

@wbgrid.GetHtml(tableStyle: "table",
    htmlAttributes: new { @id = "wbgrid" },
    columns: wbgrid.Columns(
        wbgrid.Column("Newspaper", "Newspaper"),
        wbgrid.Column("Cost_Per_Month", "Cost_Per_Month")

        ))
