@{
    ViewBag.Title = "Home Page";
}
<style>    body {
        background-image: url('https://images.pexels.com/photos/3944417/pexels-photo-3944417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }</style>

<div class="jumbotron">
    <h1>Online News Paper Distribution</h1>
    </div>
   